<header role="banner" id="page-header">
    <div class="container-fluid">
        <a href="#menu-toggle" role="button" class="btn btn-outline-dark" id="menu-toggle">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </a>
            <a href="/" title="return to home page">

                <h1>{{ site.title }}</h1>
                {% if site.subtitle %}
                    <h2>{{site.subtitle}}</h2>
                {% endif %}
            </a>
    </div>

</header>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
<style>
    #menu-toggle{
        vertical-align: middle;
    }
</style>