<!-- Sidebar -->
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                Sidebar
            </a>
        </li>
        <!-- Navigation links-->
        {% for page in site.pages %}
        <li class="nav-item">
            <a class="nav-link" href="{{ page.permalink }}">
                {{ page.title }}
            </a>
        </li>
        {% endfor %}

        {% assign i = 0 %}
        {% for collection in site.collections %}
        {% unless collection.label contains 'pages' %}
        {% unless collection.label contains 'posts' %}
        <!-- todo: if collection has an index page defined, link to it here-->
        <li class="nav-item">{{collection.label}}</li>
        <ul class="list-unstyled components">
            {% for doc in collection.docs %}
            {% unless doc.path contains 'index' %}
            <a href="{{doc.permalink}}">
                <li class="nav-item">{{doc.title}}</li>
            </a>
            {% endunless %}
            {% endfor %}
        </ul>
        {% endunless %}
        {% endunless %}
        {% assign i = i | plus: 1 %}
        {% endfor %}
    </ul>
</nav>
<!-- /#sidebar-wrapper -->

{% comment %}
Note: the JS to control this is in _includes/header.html
{% endcomment %}