<!-- Side navigation bar -->
<div class="sidebar-container container container-fluid clearfix">
    <nav class="sidebar sidebar-expand-md foreground">
        <!--<button type="button" class="sidebar-toggler" data-target="#navbar-collapsible" aria-expanded="false">
            <span class="sr-only">Toggle navigation pane</span>
            <span class="navbar-toggler-icon"></span>
        </button>-->

        <div class="sidebar-collapsible foreground" id="sidebar-collapse">
            <div class="sidebar-header">
                <!-- header image for the navigation bar -->
            </div>

            <ul class="sidebar-nav"><!-- docs suggested .mr-auto-->
                <!-- @todo: will need to automate generating the below from /_data/:filename.yml before publishing theme -->
                <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/about/">About</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/contact/">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/projects/">Projects Home</a></li>
                <ul class="sidebar-nav subnav" id="projects-subnav">
                    <!-- @todo: will need to automate generating the below from /_data/:filename.yml before publishing theme -->
                    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/project/0x1f408">0x1f408.me</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/project/refurence">Refurence.me</a></li>
                </ul>
                <!-- todo: add in a link here for design work (e.g. the stuff done for Twitch -->
            </ul>
            <div id="sidebar-copyright">
                <!-- this should go at the bottom of the sidebar -->
                <p>&copy;2017 {% if site.year != 2017 %}- {{ site.year }}{% endif %} 0x1f408 Designs</p>
                <p>Content available under the <a href="/LICENSE.txt" target="_blank">MIT License</a>.</p>
            </div>
       </div>
    </nav>

</div>