#page-header{
    /* todo: change this to #111111*/
    background-color: #000;
    min-height: 3.75em;
}
#page-header a {
    display: inline-block;
    text-decoration: none;
}
#page-header a:hover, a:visited, a:active {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
}
html, body {
    height: 100%;
}