// todo: define our font stack
// todo: this was working on our testpage, but the footer currently sticks
//       about halfway up the page; do we have additional container-fluid's stashed somewhere?
// todo: finish transferring stuff to this file from main-old.sass

////////////////////
// 1.1 Variables  //
////////////////////
// $font-stack:
// $code-font-stack:

// @media cut-offs
$cutoff-xs: 576px //less than: 0-575
$cutoff-sm: 760px //less than: 576-759
$cutoff-md: 992px //less than: 760-991
$cutoff-lg: 1200px //less than: 992-1199
//anything >=1200px is XL

// Color definitions
// twitter: #222426 #e1e8ed #111 #8fcaec
// discord: #202225 #2f3136 #36393e #41454e #ffffff
$background: #000
$foreground: #222426
$text: #e1e8ed
$text-accent: orange // later: better orange-ish color?
$text-highlight: #111
$anchor: #8fcaec
$foreground-hover: #e1e8ed
$border: rgba(225,232,237,0.2)