html, body, div, p, img, code, em, strong, u, h1, h2, h3, h4, h5, a, ul, ol, li, header, footer, span, small, strike, sub, sup, dl, dt, dd, tr, td, th, caption, label, legend, form {
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  border: 0; }

html, body {
  height: 100%; }

body {
  overflow-x: hidden;
  overflow-y: auto;
  background: #000;
  background-image: url("/assets/img/bg/index.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #e1e8ed;
  display: flex;
  flex-direction: column; }

a {
  text-decoration: none;
  color: #8fcaec; }

ul, ol, li {
  list-style: none;
  display: block; }
  ul > ul, ul ol, ol > ul, ol ol, li > ul, li ol {
    padding-left: 0.667em; }

code {
  display: inline-block;
  color: #111;
  background-color: #e1e8ed; }

.sr-only {
  width: 0;
  height: 0;
  position: absolute;
  overflow: hidden;
  border: 0;
  padding: 0; }

.container-fluid {
  flex: 1 0 auto; }
  .container-fluid, .container-fluid header, .container-fluid footer {
    width: 100%;
    display: flex; }
  .container-fluid > div {
    flex: 1; }

.align-right {
  text-align: end; }

img.icon-sm {
  height: 24px;
  width: auto; }

header {
  border-bottom: 1px solid cyan;
  border-radius: 0 0 8px 8px;
  min-height: 3.75em;
  text-align: center;
  letter-spacing: 0.125em;
  background-color: rgba(34, 36, 38, 0.3); }
  header a {
    text-decoration: none;
    color: #e1e8ed; }
  header .title-container {
    /* todo: define left padding elsewhere (needs to be consistent with sidebar, et al */ }
    header .title-container h1 {
      font-size: 1.675em; }
    header .title-container h2 {
      display: block;
      font-size: 0.875em;
      color: orange;
      font-style: oblique; }

footer {
  background-color: rgba(34, 36, 38, 0.3); }
  footer div {
    display: inline-block; }

.sidebar {
  max-width: 15%; }
  .sidebar ul {
    display: block;
    background-color: inherit; }
  .sidebar a {
    /*clear: left */ }
    .sidebar a:hover {
      color: #111;
      background-color: #e1e8ed; }
    .sidebar a:visited {
      color: unset; }
  .sidebar #sidebar-copyright {
    font-size: 70%; }
    .sidebar #sidebar-copyright p {
      border-spacing: 0;
      padding: 0; }

@media (max-width: 760px) {
  .site-header .site-title-wrapper {
    min-height: 2em; }

  #content-main {
    padding-left: 0; } }
@media (max-width: 1200px) {
  .site-header .site-title-wrapper {
    min-height: 4em; } }
