<!DOCTYPE html>
{% comment %}
Our 'default' layout, for everything that's not either the index, part of a collection, or otherwise has
a different layout defined.

This is the basis for the 'project' layout.
{% endcomment %}

<html lang="en">
    {% include head.html %}
    <body>
        {% include header.html %}
        <main id="wrapper">
            {% include sidebar.html %}
            <div id="page-content-wrapper" class="container-fluid">
                {{ content }}
            </div>

        </main>
        {% include footer.html %}
    </body>
</html>
