---
layout: default
preview: "{{ site.assets }}/img/:name"
link: #
---
<!-- Project page template; load project info from _projects -->
<!-- @todo: we want to load in a preview image, then super-impose our text over it -->
<span class="sr-only">Link to {{ page.link }}</span>
<a href="{{ page.link }}" target="_blank">
    {% if page.preview %}
        <img class="preview project-preview" src="{{ page.preview }}"/>
    {% endif %}
    <h2 class="preview project-preview-text">{{ page.title }}</h2>
</a>

{{content}}